body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: rgb(46, 59, 58);
}

.App {
  text-align: center;
}

button {
  background-color: rgb(41, 41, 41);
  color: rgb(148, 148, 148);
  border-radius: 5px;
}

#searchBar {
  border-radius: 5px;
  margin: 5px;
}