#header {
  box-sizing: border-box;
  width: 100vw;
  height: 100px;
  padding-left: calc((100vw - 420px) / 2);
  background-color: rgb(41, 41, 41);
  color: rgb(148, 148, 148);
  font-family: "Motiva Sans", Sans-serif;
  font-size: 14px;
}

#container {
  height: 50px;
  align-items: center;
  display: grid;
  column-gap: 0px;
  grid-template-columns: 170px 300px;
}
#logoContainer {
  width: 130px;
  display: inline-block;
  height: 50px;
  align-items: center;
  text-align: left;
  display: grid;
  column-gap: 0px;
  grid-template-columns: 50px 80px;
}
#menuGridContainer {
  width: 300px;
  display: inline-block;
  height: 50px;
  align-items: center;
  display: grid;
  column-gap: 5px;
  grid-template-columns: 80px 80px 80px;
}

#logo {
  width: 50px;
}
