#header {
  display: flex;
  box-sizing: border-box;
  max-width: 100vw;
  height: 120px;
  background-color: rgb(41, 41, 41);
  color: rgb(148, 148, 148);
  font-family: "Motiva Sans", Sans-serif;
  font-size: 16px;
  cursor: default;
}
.menuButtons{
  display: flex;
  justify-content: flex-end;
  height: 100%;
  width: 100%;
  font-size: 15x;
  padding-top: 10px;
  
}
#container {
  display: flex;
  padding-left: calc((100vw - 640px) / 2);
  height: 100%;
  width: 710px;
  align-items: center;
  column-gap: 0px;
  grid-template-columns: 220px 490px;
}
#logoContainer {
  width: 220px;
  display: inline-block;
  height: 50px;
  align-items: center;
  text-align: left;
  display: grid;
  column-gap: 0px;
  grid-template-columns: 50px 120px;
}
#menuGridContainer {
  width: 335px;
  display: inline-block;
  height: 50px;
  align-items: center;
  display: grid;
  column-gap: 5px;
  grid-template-columns: 80px 80px 80px 80px 80px;
}

#logo {
  width: 50px;
}
#logoText {
  font-size: 26px;
  font-weight: 600;
}

#menuGridContainer div:hover,
#logoContainer:hover {
  color: rgb(217, 250, 236);
  text-shadow: 3px 3px 6px rgba(217, 250, 236, 0.327);
}

.clicked {
  color: rgb(217, 250, 236);
  text-shadow: 3px 3px 6px rgba(217, 250, 236, 0.327);
}
