#noGamesYet {
  margin-top: 30px;
  color: rgb(217, 250, 236);
  font-size: 22px;
  margin-bottom: 20px;
}

#cartGames {
  margin-top: 30px;
  margin-left: calc((100vw - 600px) / 2);
  box-sizing: border-box;
  width: 600px;
  display: grid;
  row-gap: 20px;
  grid-template-columns: 1fr;
  cursor: default;
}

#cartGameContainer {
  box-sizing: border-box;
  width: 600px;
  height: 60px;
  display: grid;
  column-gap: 5px;
  grid-template-columns: 100px 310px 70px 1fr;
  background-color: rgb(41, 41, 41);
  color: rgb(148, 148, 148);
  font-family: "Motiva Sans", Sans-serif;
  box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.634);
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.103);
  border-width: 1px;
  transition: transform 0.2s ease-in-out;
}

#cartBackGroundImage {
  box-sizing: border-box;
  width: 100px;
  height: 58px;
  object-fit: cover;
  z-index: 0;
}
#cartGameName {
  text-align: left;
  margin-top: calc((58px - 16px) / 2);
  font-size: 16px;
}

#cartGamePrice {
  height: 16px;
  margin-top: calc((58px - 16px) / 2);
  font-size: 16px;
}

#cartGameRemoveButton {
  height: 16px;
  margin-top: calc((58px - 16px) / 2);
  font-size: 16px;
}
