#gameContainer {
  margin-top: 30px;
  box-sizing: border-box;
  width: 1015px;
  height: 400px;
  display: grid;
  column-gap: 5px;
  grid-template-columns: 600px 1fr;
  background-color: rgb(41, 41, 41);
  color: rgb(148, 148, 148);
  font-family: "Motiva Sans", Sans-serif;
  margin-left: calc((100vw - 1015px) / 2);
  box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.634);
  border-style: solid;
  border-color: black;
  border-width: 1px;
  border-radius: 4px;
  transition: transform 0.2s ease-in-out;
  cursor: default;
}

#gameContainer:hover {
  transform: scale(1.04);
}

#backGroundImage {
  box-sizing: border-box;
  height: 398px;
  width: 600px;
  object-fit: cover;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0);
  border-width: 1px;
  border-radius: 4px;
}
#gameContainerSecondColumn {
  box-sizing: border-box;
  display: grid;
  height: 300px;
  width: 300px;
}

#screenshotsContainer {
  box-sizing: border-box;
  width: 405px;
  height: 250px;
  display: grid;
  column-gap: 5px;
  row-gap: 5px;
  grid-template-columns: 200px 200px;
  margin-bottom: 10px;
}

.screenshot {
  box-sizing: border-box;
  width: 200px;
  height: 120px;
  object-fit: cover;
}

#mainPageGameName {
  height: 100px;
  line-height: 50px;
  box-sizing: border-box;
  font-size: 28px;
  font-weight: 600;
}
#featuredGamePrice {
  font-size: 22px;
}
